{% extends "base_generic.html" %}

{% block extra_css %}
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            max-width: 960px;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }

        .col {
            flex-basis: calc(50% - 10px);
            margin-bottom: 20px;
        }

        .col p {
            margin-bottom: 10px;
        }

        .col img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        .header {
			width: 100%;
			margin-bottom: 20px;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
		}
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="header"><h1>Producto: {{ producto.nombre }}</h1></div>

        <div class="col">
            <img src={{ producto.imagen1.url }} alt="Imagen de ejemplo">
        </div>

        <div class="col">
            <p><strong>Nombre:</strong> <a href="">{{ producto.nombre }}</a></p> <!-- author detail link not yet defined -->
            <p><strong>Descripcion corta:</strong> {{ producto.descripcion_corta }}</p>
            <p><strong>Descripcion larga:</strong> {{ producto.descripcion_larga }}</p>
            <p><strong>Precio:</strong> {{ producto.precio }}</p>
            <p><strong>Categorias:</strong> {{ producto.categoria.all|join:", " }}</p>
        </div>
    </div>
  
{% endblock %}