{% extends "base_generic.html" %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/apartados-web/s-subcategoria.css' %}">
{% endblock extra_css %}

{% block content %}
{% load static %}

{% if categoria %}
<!-- SECTION:PRESENTACIÓN CATEGORÍAS-->
<section class="presentacion" style="background-image:url({{ categoria.imagen1.url }}); background-size: cover;">
    <div class="texto-presentacion">
        <h1>{{ categoria.titulo }}</h1>
        <p style="width: 70%;">{{ categoria.descripcion }}</p>
    </div>
</section>
{% endif %}

{% load get_productos %}
<!-- SECTION: CARRUSEL -->
<!-- Subcategoría 1 -->
{% if categorias_hijas %}
{% for categoria_h in categorias_hijas %}
<section class="carrusel-sub">
    <div class="container_items">
        <div class="carrusel-titulo-sub">
            <h2>{{ categoria_h.nombre }}</h2>
            <a href="{{ categoria_h.get_absolute_url }}">VER TODOS</a>
        </div>
        <button class="pre-btn"><img src="{% static 'img/ic-anterior.png' %}" alt="" width="50"></button>
        <button class="nxt-btn"><img src="{% static 'img/ic-siguiente.png' %}" alt="" width="50"></button>
        <div class="contenedor-carrusel">

            {% for producto in productos_categoria|get_productos:categoria_h %}
            <!-- productos slider -->
            <div class="producto">
                <div class="producto-img">
                    <a href="{{ producto.get_absolute_url }}"><img src="{{ producto.imagen1.url }}"  alt=""></a>
                    <button class="carrito-btn">Añadir al carrito</button>
                </div>
                <div class="producto-info">
                    <p>{{ producto.nombre }}</p>
                    <span>{{ producto.precio }}€</span>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>    
{% endfor %}
{% endif %}

{% if productos %}
<!-- SECTION: SUBAPARTADO -->
<section class="subapartado">
    <div class="tit-sub">
        {% if titulo_alternativo %}
        <h2>{{ titulo_alternativo }}</h2>
        {% else %}
        <h2>{{ categoria.nombre }}</h2>
        {% endif %}
    </div>
    <div class="contenedor-productos">

        {% for p in productos %}
        <div class="producto">
            <div class="producto-img">
                <img src="{{ p.imagen1.url }}"  alt="">
                <button class="carrito-btn">Añadir al carrito</button>
            </div>
            <div class="producto-info">
                <p>{{ p.nombre }}</p>
                <span>{{ p.precio }}€</span>
            </div>
        </div>
        {% endfor %}

    </div>
    
</section>
{% endif %}

{% endblock %}