<!DOCTYPE html>
<html lang="es">

    <!-- 
        Web realizada acorde a los siguientes tamaños de pantalla:
        móvil: 375 x 914    tablet: 768     escritorio: 1024 x 1600
    -->

{% block tracking %}
<script type="text/javascript">
    (function() {
        window.sib = {
            equeue: [],
            client_key: "pg4c6cmj4lpb9801ej6omeie"
        };
        /* OPTIONAL: email for identify request*/
        {% if user.is_authenticated %}
        window.sib.email_id = '{{ user.email }}';
        {% endif %}
        window.sendinblue = {};
        for (var j = ['track', 'identify', 'trackLink', 'page'], i = 0; i < j.length; i++) {
        (function(k) {
            window.sendinblue[k] = function() {
                var arg = Array.prototype.slice.call(arguments);
                (window.sib[k] || function() {
                        var t = {};
                        t[k] = arg;
                        window.sib.equeue.push(t);
                    })(arg[0], arg[1], arg[2], arg[3]);
                };
            })(j[i]);
        }
        var n = document.createElement("script"),
            i = document.getElementsByTagName("script")[0];
        n.type = "text/javascript", n.id = "sendinblue-js", n.async = !0, n.src = "https://sibautomation.com/sa.js?key=" + window.sib.client_key, i.parentNode.insertBefore(n, i), window.sendinblue.page();
    })();
    </script>
{% endblock %}

    <head>
        <!-- Ajustes iniciales -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Nuestros Productos{% endblock %}</title>

        
        <!-- Enlaces a hojas de estilo -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}"> <!-- tipografía principal -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/main-structure.css' %}">
        <link rel="stylesheet" href="{% static 'css/apartados-web/s-productos.css' %}">
        {% block extra_css %}
        {% endblock %}

        <!-- Enlace tipografía GoogleFonts (secundaria) -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">

    </head>

    <body>
        {% block topbar %}
        <!-- Envios -->
        <section class="envio">
            <span>ENVIOS GRATUITOS A TODA ESPAÑA EN PEDIDOS +50€. DEVOLUCIONES GRATUITAS DURANTE 2 SEMANAS</span>
        </section>
        {% endblock %}

        <!-- Menú de navegación -->
        {% block navbar %}
        <header>
            <img src="{% static 'img/logo.png' %}" alt="Logo Trovador" class="logo" height="50">
            <nav>
                <ul class="menu-superior">
                    <li class="apartado-web"><a href="{% url 'index' %}">INICIO</a></li>
                    <li class="apartado-web"><a href="{% url 'productos' %}" id="actual">PRODUCTOS<img src="{% static 'img/flecha-hacia-abajo.png' %}" height="10"></a></li>
                    <li class="apartado-web"><a href="{% url 'sobre-nosotros' %}">SOBRE NOSOTROS</a></li>
                    <li class="apartado-web"><a href="{% url 'contacto' %}">CONTACTO</a></li>
                </ul>
                <img src="{% static 'img/lupa.png' %}" alt="Busqueda" class="icono" height="25">
                <img src="{% static 'img/carrito.png' %}" alt="Carrito" class="icono" height="25">
            </nav>
        </header>
        {% endblock %}

        {% block content %}
        {% endblock %}

        <!-- Footer -->
        {% block footer %}
        <footer>
            <img src="{% static 'img/logo.png' %}" alt="Logo Trovador" class="logo" height="30">
            <ul class="footer">
                <li>POLITICAS DE PRIVACIDAD</li>
                <li>AYUDA</li>
                <li>TERMINOS Y CONDICIONES</li>
                <li>POLITICAS DE COOKIES</li>
            </ul>
            <span>&#169 TFG TROVADOR 2023</span>
        </footer>
        {% endblock %}
    </body>
</html>