{% extends "base_generic.html" %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/apartados-web/s-index.css' %}">
{% endblock %}

{% block content %}
        <!-- SECTION: PRESENTACIÓN -->
        <section class="presentacion">
            <div class="texto-presentacion">
                <h1>MODA DE HOGAR HECHA A TU MEDIDA</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate magni soluta animi corporis vero obcaecati quo accusamus quis cupiditate.</p>
                <div class="rectangulo">
                    <span> <a href="{% url 'productos' %}">INSPIRATE CON TROVADOR</a></span>
                </div>
            </div>
        </section>

        <!-- SECTION: NUESTROS IMPRESCIBLES -->
        <section class="imprescindibles">
            <div class="tit-imp">
                <h2>NUESTROS IMPRESCINDIBLES</h2>
                <a href="">VER TODOS</a>
            </div>
            <div class="contenedor-imp">
                <div class="contenido-imp">
                    <div class="img-imp"></div>
                    <div class="texto-imp">
                        <span>Nombre del producto</span>
                        <span>00.00€</span>
                    </div>
                </div>
                <div class="contenido-imp">
                    <div class="img-imp"></div>
                    <div class="texto-imp">
                        <span>Nombre del producto</span>
                        <span>00.00€</span>
                    </div>
                </div>
                <div class="contenido-imp">
                    <div class="img-imp"></div>
                    <div class="texto-imp">
                        <span>Nombre del producto</span>
                        <span>00.00€</span>
                    </div>
                </div>
                <div class="contenido-imp">
                    <div class="img-imp"></div>
                    <div class="texto-imp">
                        <span>Nombre del producto</span>
                        <span>00.00€</span>
                    </div>
                </div>
            </div>
        </section>


        <!-- SECTION: CONOCENOS -->
        <section class="conocenos">
            <div class="imagen"></div>
            <div class="texto-conocenos">
                <h3>CONOCE TROVADOR</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate magni soluta animi corporis vero obcaecati quo accusamus quis cupiditate.</p>
                <div class="rectangulo">
                    <span> <a href="{% url 'sobre-nosotros' %}">DESCUBRE SU HISTORIA</a></span>
                </div>
            </div>
        </section>

        <!-- SECTION: INSTAGRAM -->
        <section class="instagram">
            <h2>SIGUENOS EN INSTAGRAM</h2>
            <div class="fotos-insta">
                <img src="{% static 'img/insta.png' %}" alt="imagen insta">
                <img src="{% static 'img/insta.png' %}" alt="imagen insta">
                <img src="{% static 'img/insta.png' %}" alt="imagen insta">
                <img src="{% static 'img/insta.png' %}" alt="imagen insta">
                <img src="{% static 'img/insta.png' %}" alt="imagen insta">
                <img src="{% static 'img/insta.png' %}" alt="imagen insta">
            </div>
        </section>
{% endblock %}