<!DOCTYPE html>
<html lang="es">

    <!-- 
        Web realizada acorde a los siguientes tamaños de pantalla:
        móvil: 375 x 914    tablet: 768     escritorio: 1024 x 1600
    -->

    <head>

        <!-- Ajustes iniciales -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nuestros Productos</title>

        <!-- Enlaces a hojas de estilo -->
        <link rel="stylesheet" href="../css/fonts.css"> <!-- tipografía principal -->
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/main-structure.css">
        <link rel="stylesheet" href="../css/apartados-web/s-productos.css">

        <!-- Enlace tipografía GoogleFonts (secundaria) -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">

    </head>

    <body>
        
        <!-- Envios -->
        <section class="envio">
            <span>ENVIOS GRATUITOS A TODA ESPAÑA EN PEDIDOS +50€. DEVOLUCIONES GRATUITAS DURANTE 2 SEMANAS</span>
        </section>

        <!-- Menú de navegación -->
        <header>
            <img src="../img/logo.png" alt="Logo Trovador" class="logo" height="50">
            <nav>
                <ul class="menu-superior">
                    <li class="apartado-web"><a href="../index.html">INICIO</a></li>
                    <li class="apartado-web"><a href="./productos.html" id="actual">PRODUCTOS<img src="../img/flecha-hacia-abajo.png" height="10"></a></li>
                    <li class="apartado-web"><a href="./sobre-nosotros.html">SOBRE NOSOTROS</a></li>
                    <li class="apartado-web"><a href="./contacto.html">CONTACTO</a></li>
                </ul>
                <img src="../img/lupa.png" alt="Busqueda" class="icono" height="25">
                <img src="../img/carrito.png" alt="Carrito" class="icono" height="25">
            </nav>
        </header>

        <!-- SECTION: PRESENTACIÓN PRODUCTOS -->
        <section class="presentacion">
            <div class="texto-presentacion">
                <div class="ubi">
                    <a href="../index.html">INICIO</a>
                    <span>- PRODUCTOS</span>
                </div>
                <h1>TÍTULO DE PRESENTACIÓN</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate magni soluta animi corporis vero obcaecati quo accusamus quis cupiditate.</p>
            </div>
        </section>

        <!-- SECTION: NOVEDADES -->
        <section class="imprescindibles">
            <div class="tit-imp">
                <h2>RECIEN LLEGADOS</h2>
                <a href="./subapartado-web/subcategoria.html">VER TODOS</a>
            </div>
            <div class="contenedor-imp">
                <div class="contenido-imp">
                    <div class="img-imp"></div>
                    <div class="texto-imp">
                        <span>Nombre del producto</span>
                        <span>00.00€</span>
                    </div>
                </div>
                <div class="contenido-imp">
                    <div class="img-imp"></div>
                    <div class="texto-imp">
                        <span>Nombre del producto</span>
                        <span>00.00€</span>
                    </div>
                </div>
                <div class="contenido-imp">
                    <div class="img-imp"></div>
                    <div class="texto-imp">
                        <span>Nombre del producto</span>
                        <span>00.00€</span>
                    </div>
                </div>
                <div class="contenido-imp">
                    <div class="img-imp"></div>
                    <div class="texto-imp">
                        <span>Nombre del producto</span>
                        <span>00.00€</span>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- SECTION: TODAS LAS CATEGORÍAS -->
        <section class="categorias">
            <h2>CATEGORIAS</h2>
            <div class="contenedor-cat">
                <a href="./subapartado-web/categoria.html" class="cat">
                    <span>BAÑO</span>
                </a>
                <!-- cambiaremos el resto de divs a enlaces cuanto tengamos las categorías -->
                <div class="cat2">
                    <div class="cat">
                        <span>COCINA</span>
                    </div>
                    <div class="cat">
                        <span>DORMITORIO</span>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECTION: REBAJAS -->
        <section class="rebajas">
            <div>
                <span>REBAJAS</span>
            </div>
        </section>


        <!-- Footer -->
        <footer>
            <img src="../img/logo.png" alt="Logo Trovador" class="logo" height="30">
            <ul class="footer">
                <li>POLITICAS DE PRIVACIDAD</li>
                <li>AYUDA</li>
                <li>TERMINOS Y CONDICIONES</li>
                <li>POLITICAS DE COOKIES</li>
            </ul>
            <span>&#169 TFG TROVADOR 2023</span>
        </footer>
    </body>
</html>