{% extends "base_generic.html" %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static './css/apartados-web/s-productos.css' %}">
{% endblock extra_css %}

{% block content %}
<!-- SECTION: PRESENTACIÓN PRODUCTOS -->
<section class="presentacion">
    <div class="texto-presentacion">
        <h1>DESCUBRE NUESTROS PRODUCTOS</h1>
        <p>Textiles de la mejor calidad y con gran variedad de coloridos, perfectos para cualquier hogar.</p>
    </div>
</section>

{% if productos_list %}
<!-- SECTION: NOVEDADES -->
<section class="carrusel">
    <div class="carrusel-titulo">
        <h2>RECIÉN LLEGADOS</h2>
        <a href="./subapartado-web/subcategoria.html">VER TODOS</a>
    </div>
    <button class="pre-btn"><img src="{% static './img/ic-anterior.png' %}" alt="" width="50"></button>
    <button class="nxt-btn"><img src="{% static './img/ic-siguiente.png' %}" alt="" width="50"></button>
    <div class="contenedor-carrusel">

        {% for producto in productos_list %}
        <div class="producto">
            <div class="producto-img">
                <a href="{{ producto.get_absolute_url }}">
                    <img src="{{ producto.imagenes.0 }}"  alt="">
                </a>
                <button class="carrito-btn">Añadir al carrito</button>
            </div>
            <div class="producto-info">
                <p>{{ producto.nombre }}</p>
                <span>{{ producto.precio }}€</span>
            </div>
        </div>
        {% endfor %}

    </div>
</section>
{% endif %}

{% if categorias_destacadas and categorias_destacadas|length > 0 %}
{% load index %}
<!-- SECTION: TODAS LAS CATEGORÍAS -->
<section class="categorias">
    <h2>CATEGORIAS</h2>

    <div class="contenedor-cat">
        {% with categorias_destacadas|index:0 as cat1 %}
        <a href="{{ cat1.get_absolute_url }}" class="cat" style="background-image:url('{{ cat1.imagen.url }}');">
            <span>{{ cat1.nombre|upper }}</span>
        </a>
        {% endwith %}

        <!-- cambiaremos el resto de divs a enlaces cuanto tengamos las categorías -->
        {% if categorias_destacadas|length >= 3  %}
        <div class="cat2">

            {% with categorias_destacadas|index:1 as cat2 %}
            <div class="cat">
                <a href="{{ cat2.get_absolute_url }}" class="cat" style="background-image:url('{{ cat2.imagen.url }}');">
                    <span>{{ cat2.nombre|upper }}</span>
                </a>
            </div>
            {% endwith %}

            {% with categorias_destacadas|index:2 as cat3 %}
            <div class="cat">
                <a href="{{ cat3.get_absolute_url }}" class="cat" style="background-image:url('{{ cat3.imagen.url }}');">
                    <span>{{ cat3.nombre|upper }}</span>
                </a>
            </div>
            {% endwith %}

        </div>
        {% endif %}
    </div>
</section>
{% endif %}

<!-- SECTION: REBAJAS -->
<section class="rebajas">
    <div>
        <a href="{% url 'rebajas' %}">
            <span>REBAJAS</span>
        </a>
    </div>
</section>
{% endblock %}