{% extends "base_generic.html" %}

{% block content %}
<!-- SECTION: PRESENTACIÓN PRODUCTOS -->
<section class="presentacion">
    <div class="texto-presentacion">
        <div class="ubi">
            <a href="{% url 'index' %}">INICIO</a>
            <span>- PRODUCTOS</span>
        </div>
        <h1>TÍTULO DE PRESENTACIÓN</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate magni soluta animi corporis vero obcaecati quo accusamus quis cupiditate.</p>
    </div>
</section>

{% if productos_list %}
<!-- SECTION: NOVEDADES -->
<section class="imprescindibles">
    <div class="tit-imp">
        <h2>RECIEN LLEGADOS</h2>
        <a href="./subapartado-web/subcategoria.html">VER TODOS</a>
    </div>
    <div class="contenedor-imp">

        {% for producto in productos_list %}
        <a href="{{ producto.get_absolute_url }}">
            <div class="contenido-imp">
                <div class="img-imp">
                    <img class="img-imp" src={{ producto.imagen1.url }}> {% comment %} falta css para ajustar la imagen  {% endcomment %}
                </div>
                <div class="texto-imp">
                    <span>{{ producto.nombre }}</span>
                    <span>{{ producto.precio }}€</span>
                </div>
            </div>
        </a>
        {% endfor %}

        {% comment %} <div class="contenido-imp">
            <div class="img-imp"></div>
            <div class="texto-imp">
                <span>Nombre del producto</span>
                <span>00.00€</span>
            </div>
        </div>
        <div class="contenido-imp">
            <div class="img-imp"></div>
            <div class="texto-imp">
                <span>Nombre del producto</span>
                <span>00.00€</span>
            </div>
        </div>
        <div class="contenido-imp">
            <div class="img-imp"></div>
            <div class="texto-imp">
                <span>Nombre del producto</span>
                <span>00.00€</span>
            </div>
        </div> {% endcomment %}

    </div>
</section>
{% endif %}

{% if categorias_destacadas and categorias_destacadas|length > 0 %}
{% load index %}
<!-- SECTION: TODAS LAS CATEGORÍAS -->
<section class="categorias">
    <h2>CATEGORIAS</h2>
    <div class="contenedor-cat">

        {% with categorias_destacadas|index:0 as cat1 %}
        <a href="{{ cat1.get_absolute_url }}" class="cat">
            {% comment %} <img src={{ cat1.imagen1.url }}> {% endcomment %}
            <span>{{ cat1.nombre|upper }}</span>
        </a>
        {% endwith %}

        <!-- cambiaremos el resto de divs a enlaces cuanto tengamos las categorías -->
        {% if categorias_destacadas|length >= 3  %}
        <div class="cat2">

            {% with categorias_destacadas|index:1 as cat2 %}
            <div class="cat">
                <a href="{{ cat2.get_absolute_url }}" class="cat">
                    {% comment %} <img src={{ cat2.imagen1.url }}> {% endcomment %}
                    <span>{{ cat2.nombre|upper }}</span>
                </a>
            </div>
            {% endwith %}

            {% with categorias_destacadas|index:2 as cat3 %}
            <div class="cat">
                <a href="{{ cat3.get_absolute_url }}" class="cat">
                    {% comment %} <img src={{ cat3.imagen1.url }}> {% endcomment %}
                    <span>{{ cat3.nombre|upper }}</span>
                </a>
            </div>
            {% endwith %}

        </div>
        {% endif %}
    </div>
</section>
{% endif %}

<!-- SECTION: REBAJAS -->
<section class="rebajas">
    <div>
        <span>REBAJAS</span>
    </div>
</section>
{% endblock %}