{% extends 'base_generic.html' %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/apartados-web/s-nosotros.css' %}">
{% endblock %}

{% block content %}

        <!-- SECTION: PRESENTACIÓN PRODUCTOS -->
        <section class="presentacion">
            <div class="texto-presentacion">
                <h1>LLEVAMOS MAS DE 100 AÑOS A TU LADO</h1>
                <p>Empresa familiar fundada en 1908, bajo el nombre 'Industrias Martí Tormo'.</p>
            </div>
        </section>

        <!-- SECTION: GENERACIONES -->
        <section class="generaciones">
            <div class="fotos-gen">
                <img src="{% static 'img/equipo.jpg' %}" alt="">
            </div>
            <div class="tit-gen">
                <h2>3ª GENERACIÓN</h2>
                <p>Actualmente, Trovador es dirigida por la tercera generación de la familia y ha mantenido su nombre y logotipo original desde la década de 1960, cuando se vendió una línea de toallas con un distintivo pictograma. Trovador se ha ganado una excelente reputación gracias a la calidad de sus tejidos y su amplia variedad de productos y coloridos. </p>
            </div>
        </section>

        <!-- SECTION: CARACTERÍSTICAS-->
        <section class="caract">
            <div>
                <img src="{% static 'img/icono01.png' %}" alt="icono i" >
                <span>ALGODON 100%</span>
            </div>
            <div>
                <img src="{% static 'img/icono02.png' %}" alt="icono i" >
                <span>+1000 COLORES</span>
            </div>
            <div>
                <img src="{% static 'img/icono03.png' %}" alt="icono i" >
                <span>GRAN SURTIDO</span>
            </div>
            <div>
                <img src="{% static 'img/icono04.png' %}" alt="icono i" >
                <span>GARANTIA DE 1 AÑO</span>
            </div>
            <div>
                <img src="{% static 'img/icono05.png' %}" alt="icono i" >
                <span>HECHO EN ESPAÑA</span>
            </div>
        </section>

        <!-- SECTION: VIDEO -->
        <section class="historia">
            <div class="texto-historia">
                <p class="p1">1960s Toallas El Trovador - Publicidad España Anuncio </p>
                <p>La empresa ha sido conocida por su publicidad en televisión y radio, incluyendo cuñas publicitarias que se han convertido en parte de la cultura popular.</p>
                <p class="p2">'El Trovador, la toalla que proporciona alegría en su baño.'</p>
                <h3>TV 1960</h3>
            </div>
            <div><iframe  src="https://www.youtube.com/embed/a6vEA5F3Ods?start=6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        </section>

{% endblock %}